* {
  user-select: none;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
marquee {
  font-size: 5em;
}
blink {
  color: #ff69b4;
}
.bottom {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100vw;
  overflow-x: scroll;
}
.bottom img {
  margin: 10px;
  width: 200px;
  height: 200px;
}
.box {
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
}
.blok {
  display: inline;
  margin: 10px;
}
.blok img {
  display: inline;
  margin: 10px;
  max-width: 50%;
  flex-shrink: 0;
}
.boxb {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
}
.t {
  width: 30px;
  height: 2px;
  background: #f00;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@-moz-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
